<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.yogesh.beans.SingletonBean" id="singletonObject"></bean>
	
    <bean class="com.yogesh.beans.PrototypeBean" id="prototypeObject" scope="prototype"></bean>

</beans>